.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #002e44;
}
/* .buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
} */

.disclaimerText {
  font-size: 10px;
}
