* {
  margin: 0;
  padding: 0;
}
/* body {
  background-color: rgb(69, 112, 192);
  height: 100vh;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.App {
  text-align: center;
  height: 100vh;
  display: grid;
}

/* .App-logo {
    height: 40vmin;
    pointer-events: none;
  } */
.containme {
  background-color: #ccc;
  color: #444;
  cursor: pointer;
  padding: 18px;

  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  /* background-color: #FFF; */
  /* border-radius: 15px; */
  /* color: #000; */
  /* justify-content: center; */
  /* margin: 20px 0; */
  margin: auto;
}
.active,
.containme:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.percentage {
  /* padding: 0 18px; */
  display: none;
  /* overflow: hidden; */
  background-color: #f1f1f1;
}
/* .containme{
    background-color: rgb(24, 19, 19);
    color: #fff;
    padding:0 20px;
    border-radius: 15px;
    margin: 10px;
    
  }
  .percentage{
    height: 14px  !important;
    width: 20%;
  } */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.SymptomsInput {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Login {
  position: absolute;
  top: 50%;
  transition: 0.5s;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: auto;
  /* height: 100vh; */
  min-height: 100vh;
  /* width: 70vh; */
  padding: 10rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 5px 35px blue;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 120, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.Diagnosis {
  /* position: absolute;
  top: 50%;
  transition: 0.5s;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  overflow: auto; */
  /* display: flex; */
  margin: auto;
  /* height: 100vh; */
  min-height: 150px;
  width: 80%;
  padding: 10rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 5px 35px blue;
  /* background: rgb(2, 0, 36); */
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 120, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.textInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.textInput input {
  transition: 0.3s;
  margin: 2rem;
  font-size: large;
  border: 1px solid rgba(9, 120, 121, 1);
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  color: rgb(59, 58, 58);
}

.textInput input:focus {
  color: red;
  background-color: aqua;
  color: gray;
  padding: 10px;
}

.btn,
.btnModel {
  transition: 1s !important;
  padding: 0;
  margin-top: 1rem;
  text-decoration: none !important;
  border: none !important;
  color: white !important;
  background: none !important;
  /* background-color: #002e44; */
}

.btn:hover,
.btnModel:hover {
  cursor: pointer;
  color: black !important;
  padding: 10px;
  border-radius: 7px;
  background: white !important;
}
.btnModel {
  color: black !important;
}
.quetionModel {
  background-color: white !important;
}
.btnModel:hover {
  /* color: white !important;
    background: black!important; */
  color: white !important;
  background: #002e44 !important;
}
.btnchoices {
  color: white !important;
  background: #002e44 !important;
}
.btnchoices:hover {
  color: #002e44 !important;
  border: 1px solid #002e44 !important;
}

.loginFormbuttons {
  display: flex;
  flex-direction: column;
}

.social {
  margin-top: 20px;
}

.social ul {
  display: flex;
  list-style-type: none;
}

.social ul li {
  transition: 1s;
  margin-right: 20px;
}
